@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Jaldi);
body {
  padding: 0px;
}

.col-carousel {
  margin: 40px 0px;
}

.nav-container {
  max-width: 100%;
  padding-left: 0px;
  margin-left: 0px;
}

.navbar {
  z-index: 201 !important;
}

@media (min-width: 576px) {
  .nav-container {
    margin-left: 30px;
  }
}

.navbar-logo {
  width: 100px;
}

.main-conteiner {
  margin-top: 85px;
}

.main-text {
  font-weight: normal !important;
  font-size: calc(0.5vw + 22px) !important;
  line-height: calc(0.7vw +28px) !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
  letter-spacing: -0.8px !important;
  color: #484848 !important;
}

@media (min-width: 768px) {
  .navbar-logo {
    width: 150px;
  }
  .main-text {
    font-size: calc(0.5vw + 32px) !important;
    line-height: calc(0.7vw +38px) !important;
  }
  .main-conteiner {
    margin-top: 105px;
  }
}

@media (min-width: 992px) {
  .navbar-logo {
    width: 200px;
  }
  .main-text {
    font-size: calc(0.5vw + 42px) !important;
    line-height: calc(0.7vw +48px) !important;
  }
  .main-conteiner {
    margin-top: 125px;
  }
}

.carousel-indicators {
  bottom: -5px;
}

@media (min-width: 434px) {
  .carousel-indicators {
    bottom: 10px;
  }
}

.carousel-text {
  background-color: white;
  opacity: 0.5;
  padding: 15px 0px !important;
  color: black;
  width: auto !important;
  margin: 0 auto;
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -o-border-radius: 5px !important;
}

.row-middle-title {
  color: #007bff;
}

.main-dropdown {
  display: none !important;
  position: absolute;
  z-index: 200;
  opacity: 0.9;
  width: calc(100% - 30px);
}

.mostrar {
  display: flex !important;
}

.mostrar--normal {
  display: block !important;
}

.ocultar {
  display: none !important;
}

@media (max-width: 576px) {
  .mostrar-pantalla-completa {
    position: fixed;
    z-index: 200;
    width: 100%;
    margin-top: 0px !important;
    padding-top: 25px;
    height: 100%;
    opacity: 1;
    top: 0;
    left: 0;
  }
}

.main-browser-dropdown-conteiner {
  margin-top: 25px;
  margin-bottom: 20px;
}

.main-browser-dropdown-conteiner-mini {
  margin-left: 20px;
  margin-right: 20px;
}

.main-browser-conteiner {
  width: 100%;
  z-index: 201;
}

.main-browser-min {
  width: 100%;
  height: 100%;
  padding-top: 20px;
}

.contenedor-boton-invisible {
  margin-left: 17px;
  display: flex;
}

.row-middle {
  display: flex;
  text-align: center;
}

.producto-titulo-centrar {
  display: flex;
  justify-content: center;
  color: blue;
}

.nombre {
  color: #17a2b8;
}

.imagen-detallada {
  margin-bottom: 5%;
  margin-top: 5%;
  width: 100% !important;
}

.miniatura {
  margin-bottom: 5%;
  margin-top: 2%;
  display: flex;
  width: 50% !important;
}

.col-foto {
  margin-left: -30px !important;
  margin-right: -50px !important;
  display: inline-block;
  justify-content: center;
}

.panel-central {
  width: 100%;
}

.descripcion {
  margin-top: 40px;
  text-align: left;
}

.fotos-miniatura {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.panel-fotos {
  margin-bottom: 20px;
  max-width: 50%;
}

.icono-back {
  width: 50%;
}

.imagen-pequeña {
  width: 100% !important;
}

.contenedor-historial {
  padding-top: 10px;
}

.navbar-list__item {
  display: flex;
  padding-bottom: 10px;
  padding-top: 10px;
  height: 40px;
}

.navbar-list__item--highlighted {
  margin-right: 10px;
}

@media (min-width: 992px) {
  .navbar-list__item--highlighted {
    margin-right: 10px;
  }
  .navbar-list__item--highlighted:hover {
    border-bottom: 1px solid white;
  }
}

.navbar-list__item--perfil {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding-left: 10px !important;
  font-weight: 900;
}

.navbar-list__item__imagen {
  margin-left: 10px;
  border-radius: 15px !important;
  -webkit-border-radius: 15px !important;
  -moz-border-radius: 15px !important;
  -o-border-radius: 15px !important;
}

.browser {
  border: 1px solid #ced4da;
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -o-border-radius: 5px !important;
  display: flex;
  vertical-align: center;
}

.browser-extended {
  border-bottom-left-radius: 0px !important;
  -webkit-border-bottom-left-radius: 0px !important;
  -moz-border-bottom-left-radius: 0px !important;
  -o-border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  -webkit-border-bottom-right-radius: 0px !important;
  -moz-border-bottom-right-radius: 0px !important;
  -o-border-bottom-right-radius: 0px !important;
}

.browser__textfield {
  flex: 0 1 auto !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
  font-size: 19px !important;
  line-height: 24px !important;
  color: #484848 !important;
  border: 0px !important;
  padding: 11px !important;
  font-weight: normal !important;
  outline: none;
  width: 93% !important;
  padding-right: 7px !important;
}

.browser__icon {
  color: #7a7a7a !important;
}

.browser__icon--search {
  display: none;
}

.browser__button--cancel {
  display: flex;
  width: 37px;
}

.browser__button--search {
  display: none;
  background-color: #FFB847;
  padding: 10px 20px;
  margin: 10px 10px 10px 0px;
  color: #7a7a7a;
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -o-border-radius: 5px !important;
  border: 0px;
  font-size: 19px !important;
  font-weight: normal !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
}

@media (min-width: 576px) {
  .browser__icon--search {
    display: flex !important;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 12px;
  }
  .browser__textfield {
    width: 87% !important;
  }
}

@media (min-width: 768px) {
  .browser__textfield {
    width: 90% !important;
  }
}

@media (min-width: 992px) {
  .browser__button--search {
    display: inline !important;
  }
  .browser__icon--search {
    font-size: 27px !important;
    margin-top: 19px !important;
  }
  .browser__textfield {
    width: 82% !important;
  }
  .browser__button--cancel {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .browser__button--search {
    display: inline !important;
    margin-right: 20px;
  }
  .browser__textfield {
    width: 85% !important;
  }
}

.browser__button--search:focus {
  outline: none;
}

.dropdown {
  width: 100%;
  flex-direction: row !important;
  vertical-align: center !important;
  border-left: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-top: 4px solid #FFB847 !important;
  border-bottom: 4px solid #FFB847 !important;
  border-right: 0px;
  border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -o-border-radius: 0px !important;
  border-bottom-left-radius: 5px !important;
  -webkit-border-bottom-left-radius: 5px !important;
  -moz-border-bottom-left-radius: 5px !important;
  -o-border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  -webkit-border-bottom-right-radius: 5px !important;
  -moz-border-bottom-right-radius: 5px !important;
  -o-border-bottom-right-radius: 5px !important;
}

.dropdown__notlevel {
  width: 100% !important;
  border-right: 1px solid rgba(0, 0, 0, 0.125) !important;
  display: none;
  overflow: auto !important;
}

.dropdown__notlevel__item {
  width: 100% !important;
}

.dropdown__notlevel__item:hover {
  background-color: #ffb94f60;
}

.dropdown__notlevel__link {
  text-decoration: none !important;
  color: black !important;
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.dropdown__level1 {
  width: 40% !important;
  border-right: 1px solid rgba(0, 0, 0, 0.125) !important;
  display: flex;
  overflow: auto !important;
}

.dropdown__level1__item {
  width: 100% !important;
}

.dropdown__level1__item--marked {
  background-color: #ffb94f60;
}

.dropdown__level1__item:nth-last-child(1) {
  border-bottom: 0px !important;
}

.dropdown__level2 {
  width: 60% !important;
  border: 0px !important;
  overflow: auto !important;
  border-right: 1px rgba(0, 0, 0, 0.125) solid !important;
}

.dropdown__level2__item {
  border-top: 0px !important;
  border-bottom: 2px rgba(0, 0, 0, 0.125) solid !important;
  padding: 0px !important;
  width: 100%;
}

.dropdown__level2__item:nth-last-child(1) {
  border-bottom-left-radius: 0px !important;
  -webkit-border-bottom-left-radius: 0px !important;
  -moz-border-bottom-left-radius: 0px !important;
  -o-border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  -webkit-border-bottom-right-radius: 0px !important;
  -moz-border-bottom-right-radius: 0px !important;
  -o-border-bottom-right-radius: 0px !important;
}

.dropdown__level2__item:nth-child(1) {
  border-bottom: 2px rgba(0, 0, 0, 0.125) solid !important;
}

.dropdown__level2__item:hover {
  background-color: #ffb94f60;
}

.dropdown__level2__link {
  text-decoration: none !important;
  color: black !important;
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.dropdown__level2__icon {
  text-decoration: none !important;
  width: 5% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  margin-right: 10px !important;
}

.boton-invisible {
  display: flex;
  background-color: transparent;
  border: 0px;
  outline: none !important;
  vertical-align: center;
  padding: 0px !important;
}

.boton-invisible__icon {
  width: 100% !important;
  font-size: 30px;
  color: #636363 !important;
}

.boton-invisible-producto {
  color: blue;
}

.boton-eliminar {
  padding: 7px !important;
}

.boton-visible {
  font-size: 25px;
  margin-left: 20px;
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> presentacion26
  color: green;
}

.boton-color {
  color: red !important;
}

.boton-cancelar {
  background-color: red;
  border: 1px solid red;
}

.boton-cancelar:hover {
  background-color: #b30000;
  border: 1px solid red;
}

.custom-file {
  margin-left: 65px;
<<<<<<< HEAD
=======
  color: green !important;
}

.boton-color {
  color: red;
>>>>>>> cristian2
=======
>>>>>>> presentacion26
}

.window-modal {
  opacity: 1 !important;
  display: block;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  from {
    width: 0px;
  }
  to {
    width: auto;
  }
}

/* Standard syntax */
@keyframes example {
  from {
    width: 0px;
  }
  to {
    width: auto;
  }
}

.window-dialog {
  transform: translate(0, 0%) !important;
  margin: 40px;
  margin-top: 54px;
  overflow: hidden;
  -webkit-animation-name: example;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s;
  /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 1s;
}

@media (min-width: 576px) {
  .window-dialog {
    margin: 53px auto !important;
  }
}

@media (min-width: 768px) {
  .window-dialog {
    margin: 64px auto !important;
  }
}

@media (min-width: 992px) {
  .window-dialog {
    margin: 75px auto !important;
  }
}

.modal-open {
  overflow: hidden;
  padding-right: 17px;
}

.navbar-modal-open {
  padding-right: 33px;
}

.login__header {
  display: grid;
  grid-template-columns: 5% 95%;
  grid-template-rows: 5% 95%;
  grid-template-areas: "cancel ." ". title";
}

.login__header__cancel {
  color: #515253;
  grid-area: cancel;
  justify-self: start;
  cursor: pointer;
}

.login__header__title {
  color: #17a2b8;
  grid-area: title;
  justify-self: center;
  margin-right: 5%;
}

.login__body {
  color: #212121;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(2, 1fr) 10% 1fr;
<<<<<<< HEAD
  grid-template-areas: "email" 
 "password" 
 "remember" 
 "entrar";
=======
  grid-template-areas: "email"  "password"  "remember"  "entrar";
>>>>>>> presentacion26
  padding-top: 30px;
}

.login__body__input {
  margin-bottom: 15px;
  height: 35px;
  justify-self: center;
  padding: 5px;
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -o-border-radius: 5px !important;
  outline: none !important;
  border: 1px solid #b9b9b9;
  font-size: 14px;
  line-height: 1.42857143;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.login__body__input:focus {
  border-color: #5ca6c9;
  box-shadow: 0 0 3px #5ca6c9;
}

.login__body__input--email {
  grid-area: email;
}

.login__body__input--password {
  grid-area: password;
}

.login__body__entrar {
  grid-area: entrar;
  justify-self: center;
  padding: 5px 20px;
  font-size: 14px;
  margin-bottom: 20px;
  outline: none !important;
  background-color: #36c3d9;
  border-radius: 20px !important;
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  -o-border-radius: 20px !important;
  border: 1px solid #38cde4;
  cursor: pointer;
}

.login__body__entrar:hover {
  background-color: #1ddaf7;
  border: 1px solid #38cee6;
}

.login__body__error {
  grid-area: error;
  justify-self: center;
  color: red;
  margin-bottom: 15px;
  font-size: 14px;
  margin-top: -7px;
}

.login__body__remember {
  grid-area: remember;
  justify-self: center;
  margin-bottom: 15px;
  color: #838383;
  font-size: 14px;
  cursor: default;
  height: 21px;
  justify-content: center;
  display: flex;
  position: relative;
}

.login__body__checkbox__text {
  margin-left: 5px;
  overflow: hidden;
  margin-bottom: 0px;
}

.login__body__checkbox {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 18px;
  background-color: #eee;
  height: 16px;
  border-radius: 2px;
  align-self: center;
  position: absolute;
  left: -20px;
}

.login__body__checkbox:hover {
  background-color: #ccc;
}

.login__body__checkbox:checked {
  background-color: #17a2b8;
}

.login__body__checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

.login__body__checkbox:checked::after {
  display: block !important;
}

.login__body__checkbox:after {
  left: 6px;
  width: 7px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.login__body__checkbox:focus {
  outline: none;
}

/* CSS Document */
.signup-form-container {
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin: 4% auto;
  max-width: 500px;
  border-top-color: #00c0ef;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.form-header {
  color: #444;
  display: block;
  padding: 20px;
  position: relative;
  border-bottom: 1px solid #f4f4f4;
}

.form-header .form-title {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  line-height: 1;
}

.form-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 20px;
}

.form-footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid #f4f4f4;
  padding: 20px;
  background-color: #fff;
}

.form-control {
  font-size: 16px;
  height: auto;
  padding: 7px 9px;
}

.form-title {
  font-size: 30px !important;
}

.has-success .form-control {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-success .form-control:focus {
  border-color: #2b542c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}

.has-success .input-group-addon {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #3c763d;
}

.has-success .form-control-feedback {
  color: #3c763d;
}

.has-error .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-error .form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

.has-error .input-group-addon {
  color: #a94442;
  background-color: #f2dede;
  border-color: #a94442;
}

.has-error .form-control-feedback {
  color: #a94442;
}

.form-footer--responsive {
  align-content: center;
}

.btn-info-form {
  margin-left: 6%;
  margin: 6px;
  width: 135px;
}

.estrella-footer {
  color: #FF0000;
}

.card.card-cascade.narrower {
  margin-top: 20px;
}

.card.card-cascade {
  width: 100%;
}

.card:not([class*=card-outline-]) {
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;
}

.card.card-cascade.narrower .view {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: -20px;
}

.card.card-cascade .view {
  border-radius: 4px;
}

.card.card-cascade .view {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.view {
  overflow: hidden;
  position: relative;
  cursor: default;
}

.section img {
  max-width: 100%;
  height: auto;
}

.hm-zoom img, .hm-zoom video, .overlay img, .overlay video {
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.hm-zoom:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.view img, .view video {
  display: block;
  position: relative;
}

.card img {
  border-radius: 2px 2px 0 0;
}

.img-fluid-producto {
  max-width: 100%;
  height: auto;
  width: 100%;
}

.img-fluid-producto {
  max-width: 100%;
  height: auto;
  width: 100%;
}

img {
  vertical-align: middle;
  border-style: none;
}

slight .mask {
  background-color: rgba(255, 255, 255, 0.1);
}

.overlay .mask {
  opacity: 0;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.view .full-bg-img, .view .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.view .mask {
  background-attachment: fixed;
}

.waves-effect {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  z-index: 1;
}

.card-footer-modificado {
  background-color: transparent;
}

.card-text-centrado {
  text-align: justify !important;
}

.menu-lateral__body__lista {
  padding: 0px;
}

.menu-lateral__body__lista__item {
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  list-style: none;
}

.menu-lateral__body__lista__item--title {
  color: #17a2b8;
  font-size: 1rem;
}

.menu-lateral__body__lista__item__button {
  color: white;
  background-color: transparent;
  border: 0px;
  outline: none !important;
  vertical-align: center;
  padding: 0px !important;
}

.menu-lateral__body__lista__item--normal, .menu-lateral__body__lista__item--logout {
  cursor: pointer;
  -webkit-transition: background-color 1s ease-in;
  -moz-transition: background-color 1s ease-in;
  -o-transition: background-color 1s ease-in;
  transition: background-color 1s ease-in;
}

.menu-lateral__body__lista__item--normal:hover, .menu-lateral__body__lista__item--logout:hover {
  background-color: #17a2b8;
}

.menu-lateral__body__lista__item--logout:hover {
  background-color: #eba3a3a2;
}

.menu-lateral__body__lista__item--salir {
  font-size: 30px;
}

.menu-lateral__body__lista__item--salir:hover {
  background-color: rgba(163, 235, 173, 0.635);
}

@media (min-width: 418px) {
  .menu-lateral__body__lista__item--title {
    font-size: 1.2rem;
  }
  .menu-lateral__body__lista__item--normal, .menu-lateral__body__lista__item--logout {
    font-size: 1rem;
  }
}

@media (min-width: 590px) {
  .menu-lateral__body__lista__item--title {
    font-size: 1.6rem;
    padding-bottom: 15px;
  }
  .menu-lateral__body__lista__item--normal, .menu-lateral__body__lista__item--logout {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .menu-lateral__body__lista__item--title {
    font-size: 1.9rem;
    padding-top: 17px;
    padding-bottom: 18px;
  }
  .menu-lateral__body__lista__item--normal, .menu-lateral__body__lista__item--logout {
    font-size: 1.1rem;
  }
}

@media (min-width: 992px) {
  .menu-lateral__body__lista__item--title {
    font-size: 2.2rem;
    padding-top: 19px;
    padding-bottom: 26px;
  }
}

.modal-propio__capa-trasera {
  opacity: .7;
  background-color: black;
}

.modal-propio {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1041;
  width: 100%;
  height: 100%;
}

.modal-propio__conteiner {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100%;
  grid-template-areas: "izquierda derecha";
}

.modal-propio__lateral--izquierdo {
  grid-area: izquierda;
  opacity: 1;
  background-color: #01020e;
}

.modal-propio__lateral--derecho {
  grid-area: derecha;
  display: flex;
}

.table > tbody > tr > td,
.table > tfoot > tr > td {
  vertical-align: middle;
}

@media screen and (max-width: 600px) {
  table#cart tbody td .form-control {
    width: 20%;
    display: inline !important;
  }
  .actions .btn {
    width: 36%;
    margin: 1.5em 0;
  }
  .actions .btn-info {
    float: left;
  }
  .actions .btn-danger {
    float: right;
  }
  table#cart thead {
    display: none;
  }
  table#cart tbody td {
    display: block;
    padding: .6rem;
    min-width: 320px;
  }
  table#cart tbody tr td:first-child {
    background: #333;
    color: #fff;
  }
  table#cart tbody td:before {
    content: attr(data-th);
    font-weight: bold;
    display: inline-block;
    width: 8rem;
  }
  table#cart tfoot td {
    display: block;
  }
  table#cart tfoot td .btn {
    display: block;
  }
}

.img-carro {
  width: 210% !important;
  height: 85% !important;
}

.texto-carrito {
  margin-left: 210px;
}

.td-texto--central {
  margin-left: 100px;
}

.carrito-vacio {
  text-align: center;
  color: gray;
}

.contenedor-deseos {
  background-color: white;
  margin: 40px 30px 40px 70px;
  width: 88%;
  height: 80%;
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -o-border-radius: 5px !important;
  overflow: auto;
}

.carrito-header {
  position: sticky;
  z-index: 2000;
  top: 0;
  background-color: white;
}

.contenedor-chats {
  background-color: white;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 25% 48% 27%;
  grid-template-rows: min-content auto;
  grid-template-areas: "nombreUsuarios usuario usuario" "usuarios        chat    trade";
  border: 3px solid black;
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}

.contenedor-chats__nombre-chat {
  grid-area: nombreUsuarios;
  position: sticky;
  z-index: 2000;
  top: 0;
  background-color: white;
  border-bottom: 1px solid #e4e0e0;
  border-right: 1px solid #e4e0e0;
  color: #17a2b8;
  display: flex;
  justify-content: center;
}

.contenedor-chats__nombre-chat__item {
  align-self: center;
  text-align: center;
  justify-content: center;
}

.contenedor-chats__usuario {
  grid-area: usuario;
  border-bottom: 1px solid #e4e0e0;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #444753;
  color: wheat;
}

.contenedor-chats__usuario__item {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  display: flex;
  align-items: center;
  padding: 10px;
}

.contenedor-chats__usuario__imagen {
  width: 45px;
  height: 45px;
  border-radius: 30px !important;
  -webkit-border-radius: 30px !important;
  -moz-border-radius: 30px !important;
  -o-border-radius: 30px !important;
  margin-right: 10px;
}

.contenedor-chats__usuarios {
  grid-area: usuarios;
  border-right: 1px solid #e4e0e0;
  background-color: #444753;
  overflow: auto;
}

.contenedor-chats__chat {
  grid-area: chat;
}

.contenedor-chats__trade {
  grid-area: trade;
  border-left: 1px solid #e4e0e0;
  display: flex;
  justify-content: center;
  background-color: #f2f2f24d;
  overflow: auto;
}

<<<<<<< HEAD
=======
.lista-usuarios {
  padding: 0px;
}

>>>>>>> presentacion26
.lista-usuarios__item {
  padding: 10px 15px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: wheat;
  overflow: hidden;
  height: 70px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.lista-usuarios__item--clicked {
  background-color: #3b3d4a;
}

.lista-usuarios__item--clicked + .lista-usuarios__imagen {
  border: 2px solid #4a4a4a !important;
}

.lista-usuarios__item:hover {
  cursor: pointer;
  background-color: #3b3d4a;
}

.lista-usuarios__imagen {
  width: 45px;
  height: 45px;
  border-radius: 30px !important;
  -webkit-border-radius: 30px !important;
  -moz-border-radius: 30px !important;
  -o-border-radius: 30px !important;
  margin-right: 10px;
  border: 2px solid #6f6f6f;
}

.trade {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.trade__header {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.trade__header__button {
  display: inline-block;
  color: black;
  float: left;
  padding: 8px 16px !important;
  text-decoration: none;
  border: 1px solid #ddd;
  background-color: #f2f2f266;
}

.trade__header__button--before {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.trade__header__button--after {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.trade__header__container__list {
  overflow: hidden;
  max-width: 100px;
}

.trade__header__list {
  margin: 0px;
  display: flex;
<<<<<<< HEAD
=======
  padding: 0px;
>>>>>>> presentacion26
}

.trade__header__list__item {
  display: inline-block;
  color: black;
  float: left;
  padding: 8px 14px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.trade__header__list__item:hover:not(.trade__header__list__item--selected) {
  background-color: #ddd;
}

.trade__header__list__item--selected {
  background-color: #17a2b8;
  color: white;
  border: 1px solid #17a2b8;
}

.trade__body {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.trade__body__separator {
  width: 80%;
  border-bottom: 2px solid gray;
  margin-bottom: 10px;
  margin-top: 10px;
}

.trade__body__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  width: 90%;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.trade__body__item--accept {
  width: 100%;
  height: 100%;
  background: green;
  opacity: 0.2;
  position: absolute;
}

.trade__body__imagen {
  width: 240px;
  height: 190px;
  margin-top: 20px;
}

.trade__body__nombre {
  padding: 15px;
}

.trade__footer {
  width: 100%;
  padding-bottom: 20px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.trade__footer__item {
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -o-border-radius: 10px !important;
  padding: 5px 13px;
  outline: none !important;
}

.trade__footer__item--inventary {
  background-color: rgba(33, 228, 228, 0.822);
  margin-right: 10px;
}

.trade__footer__item--accept {
  background-color: #97f57f;
}

.form-group1 {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 7px;
}

.titulo {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  color: #17A2B8;
}

.control-label1 {
  font-size: 15px;
}

.control-label-texto {
  padding: 7px;
}

.container__inventario {
  position: fixed;
  top: 25%;
  bottom: 25%;
  left: 44%;
  right: 24%;
  overflow: auto;
  background-color: #f2f2f24d;
  border: 1px solid #bfbfbf4d;
  display: none;
}

.inventario {
  display: flex;
  justify-content: center;
  background-color: #f2f2f24d;
  flex-wrap: wrap;
  padding-top: 25px;
  padding-left: 20px;
  padding-bottom: 25px;
}

.inventario__item {
  width: 180px;
  box-shadow: 1px solid black;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 15px;
  margin-right: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.inventario__item:hover {
  cursor: pointer;
}

.inventario__imagen {
  width: 100%;
  height: 140px;
}

.inventario__nombre {
  text-align: center;
  margin-top: 4px;
  line-height: 1.4;
}

body {
  margin-top: 20px;
}

.container-perfil {
  background-color: #eee;
  margin-top: 100px;
<<<<<<< HEAD
=======
  margin-bottom: 20px;
  overflow: auto;
>>>>>>> presentacion26
}

.row-perfil {
  width: 100%;
}

.img-circle {
  border-radius: 65px 10px 69px 10px;
  -moz-border-radius: 65px 10px 69px 10px;
  -webkit-border-radius: 65px 10px 69px 10px;
  border: 6px groove #1fbff0;
}

/**********File Inputs**********/
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.container-perfil--titulo {
  text-align: center;
}

.personal-info--right {
  padding-left: 100px !important;
}

.inputfile + label {
  max-width: 80%;
  font-size: 1.25rem;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
}

.inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  margin-right: 0.25em;
}

.iborrainputfile {
  font-size: 16px;
  font-weight: normal;
  font-family: 'Lato';
}

.imagen-perfil {
  max-width: 250px;
}

/* style 1 */
.inputfile-1 + label {
  color: #fff;
  background-color: #ec9b1b;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
  background-color: #d47e03;
}

/* style 2 */
.inputfile-2 + label {
  color: #ec9b1b;
  border: 2px solid currentColor;
}

.inputfile-2:focus + label,
.inputfile-2.has-focus + label,
.inputfile-2 + label:hover {
  color: #d47e03;
}

/* style 3 */
.inputfile-3 + label {
  color: #ccc;
}

.inputfile-3:focus + label,
.inputfile-3.has-focus + label,
.inputfile-3 + label:hover {
  color: #ec9b1b;
}

/* style 4 */
.inputfile-4 + label {
  color: #ccc;
}

.inputfile-4:focus + label,
.inputfile-4.has-focus + label,
.inputfile-4 + label:hover {
  color: #ec9b1b;
}

/* style 5 */
.inputfile-5 + label {
  color: #ec9b1b;
}

.inputfile-5:focus + label,
.inputfile-5.has-focus + label,
.inputfile-5 + label:hover {
  color: #d47e03;
}

.inputfile-5 + label figure {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ec9b1b;
  display: block;
  padding: 20px;
  margin: 0 auto 10px;
}

.inputfile-5:focus + label figure,
.inputfile-5.has-focus + label figure,
.inputfile-5 + label:hover figure {
  background-color: #d47e03;
}

.inputfile-5 + label svg {
  width: 100%;
  height: 100%;
}

/* style 6 */
.inputfile-6 + label {
  color: #ec9b1b;
}

.inputfile-6:focus + label,
.inputfile-6.has-focus + label,
.inputfile-6 + label:hover {
  color: #d47e03;
}

.inputfile-6 + label figure {
  width: 100px;
  height: 135px;
  background-color: #ec9b1b;
  display: block;
  position: relative;
  padding: 30px;
  margin: 0 auto 10px;
}

.inputfile-6:focus + label figure,
.inputfile-6.has-focus + label figure,
.inputfile-6 + label:hover figure {
  background-color: #d47e03;
}

.inputfile-6 + label figure::before,
.inputfile-6 + label figure::after {
  width: 0;
  height: 0;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
}

.inputfile-6 + label figure::before {
  border-top: 20px solid #05354e;
  border-left: 20px solid transparent;
}

.inputfile-6 + label figure::after {
  border-bottom: 20px solid #d47e03;
  border-right: 20px solid transparent;
}

.inputfile-6:focus + label figure::after,
.inputfile-6.has-focus + label figure::after,
.inputfile-6 + label:hover figure::after {
  border-bottom-color: #ec9b1b;
}

.inputfile-6 + label svg {
  width: 100%;
  height: 100%;
  fill: #f1e5e6;
}

/* style 7 */
.inputfile-7 + label {
  color: #ec9b1b;
}

.inputfile-7 + label {
  border: 1px solid #ec9b1b;
  background-color: #fff;
  padding: 0;
}

.inputfile-7:focus + label,
.inputfile-7.has-focus + label,
.inputfile-7 + label:hover {
  border-color: #d47e03;
}

.inputfile-7 + label span,
.inputfile-7 + label strong {
  padding: 0.625rem 1.25rem;
}

.inputfile-7 + label span {
  width: 200px;
  min-height: 2em;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: top;
}

.inputfile-7 + label strong {
  height: 100%;
  color: #fff;
  background-color: #ec9b1b;
  display: inline-block;
}

.inputfile-7:focus + label strong,
.inputfile-7.has-focus + label strong,
.inputfile-7 + label:hover strong {
  background-color: #d47e03;
}

@media screen and (max-width: 50em) {
  .inputfile-7 + label strong {
    display: block;
  }
}

/**********End File Inputs**********/
body {
  font-family: 'Jaldi', sans-serif !important;
}

.datepicker-dropdown {
  top: 0;
  left: 0;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 4px;
}

.datepicker table tr td,
.datepicker table tr th {
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  border: none;
  color: #000;
  cursor: pointer !important;
}

datepicker table tr td.day:hover,
.datepicker table tr td.focused {
  background: red;
}

.datepicker table tr td.old,
.datepicker table tr td.new {
  color: #999;
}

.datepicker table tr td.today {
  color: white !important;
  background-color: #FFA953;
  border-color: #FFB76F;
}

.datepicker table tr td.today:hover {
  color: #FFFFFF;
  background-color: #FF8273;
  border-color: #f59e00;
  cursor: pointer !important;
}

.datepicker .datepicker-switch {
  width: 145px;
}

.datepicker .datepicker-switch:hover,
.datepicker .prev:hover,
.datepicker .next:hover,
.datepicker tfoot tr th:hover {
  background: #f8f8f8;
}

.ui-datepicker {
  width: 15.20em !important;
  font-family: 'Jaldi', sans-serif !important;
  border: 1px solid #ccc !important;
}

.ui-datepicker-header {
  border-radius: 0px !important;
  background-color: #ededed !important;
  background: #ededed !important;
  border: none !important;
}

.ui-datepicker-next {
  color: #000 !important;
  top: 3px !important;
  right: 3px !important;
}

.ui-datepicker-prev {
  color: #000 !important;
  top: 3px !important;
  left: 3px !important;
}

.ui-datepicker-next:hover {
  border: none !important;
  top: 3px !important;
  right: 3px !important;
  background: white !important;
  cursor: pointer;
}

.ui-datepicker-prev:hover {
  border: none !important;
  top: 3px !important;
  left: 3px !important;
  background: white !important;
  cursor: pointer;
}

.ui-state-default {
  background: none !important;
  background-color: #ededed;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight {
  background: none !important;
  background-color: #eaeaea !important;
  border: 1px solid #A51E1E !important;
  border-radius: 10% !important;
}

.ui-state-active,
.ui-widget-content .ui-state-active {
  background-color: #a1a1a1 !important;
  color: whitesmoke !important;
  font-weight: bold !important;
  border: 1px solid #d3d3d3 !important;
}

#date-picker-expirate .ui-datepicker-calendar {
  display: none;
}

.ui-widget select {
  font-family: 'Jaldi', sans-serif !important;
  font-size: 14px !important;
}

.ui-priority-primary,
.ui-widget-content {
  font-weight: normal !important;
}

.ui-datepicker-close {
  color: #fff !important;
  background-color: #5cb85c !important;
  border-color: #4cae4c !important;
  font-size: 14px !important;
}

.hide-calendar .ui-datepicker-calendar {
  display: none;
}

#startDate {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 6px;
}

.ui-datepicker-current {
  display: none !important;
}

.ui-datepicker-buttonpane {
  float: left !important;
  padding: 0 !important;
}

.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(33.33%);
}

.carousel-inner .carousel-item-left.active,
.carousel-inner .carousel-item-prev {
  transform: translateX(-33.33%);
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
  transform: translateX(0);
}

.img-fluid {
  max-width: 100%;
  height: 100% !important;
}

.d-block {
  display: block !important;
}

.w-100 {
  width: 100% !important;
  height: 100%;
}

.carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  position: relative;
  display: none;
  width: 100%;
  height: 400px;
}

@media (-webkit-transform-3d) {
  .carousel-item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    transition: -webkit-transform .6s ease-in-out;
    -o-transition: -o-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out, -o-transform .6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }
}

@supports (-webkit-transform: translate3d(0, 0, 0)) or (transform: translate3d(0, 0, 0)) {
  .carousel-item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    transition: -webkit-transform .6s ease-in-out;
    -o-transition: -o-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out, -o-transform .6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.carousel-item-next,
.carousel-item-prev {
  position: absolute;
  top: 0;
}

@media (-webkit-transform-3d) {
  .carousel-item-next.carousel-item-left,
  .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .active.carousel-item-right,
  .carousel-item-next {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  .active.carousel-item-left,
  .carousel-item-prev {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@supports (-webkit-transform: translate3d(0, 0, 0)) or (transform: translate3d(0, 0, 0)) {
  .carousel-item-next.carousel-item-left,
  .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .active.carousel-item-right,
  .carousel-item-next {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  .active.carousel-item-left,
  .carousel-item-prev {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: .5;
}

.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 15;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.carousel-indicators li {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  max-width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}

.carousel-indicators li::before {
  position: absolute;
  top: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: "";
}

.carousel-indicators li::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: "";
}

.carousel-indicators .active {
  background-color: #fff;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: black;
  text-align: center;
}

.col-4 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.333333%;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333% !important;
}

.container-carrusel {
  height: 25%;
}

.subcontainer-carrusel {
  height: 100% !important;
}

.carrusel-items {
  height: 100% !important;
}

.carrusel-activo {
  height: 100% !important;
<<<<<<< HEAD
}

.carrito-header {
  position: sticky;
  z-index: 2000;
  top: 0;
  background-color: white;
}

.contenedor-chats {
  background-color: white;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 30% 45% 25%;
  grid-template-rows: 15% 85%;
  grid-template-areas: "nombreUsuarios usuario usuario" "usuarios        chat    trade";
  border: 3px solid black;
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}

.contenedor-chats__nombre-chat {
  grid-area: nombreUsuarios;
  position: sticky;
  z-index: 2000;
  top: 0;
  background-color: white;
  border-bottom: 1px solid #e4e0e0;
  border-right: 1px solid #e4e0e0;
  color: #17a2b8;
  display: flex;
  justify-content: center;
}

.contenedor-chats__nombre-chat__item {
  align-self: center;
  text-align: center;
  justify-content: center;
}

.contenedor-chats__usuario {
  grid-area: usuario;
  border-bottom: 1px solid #e4e0e0;
}

.contenedor-chats__usuarios {
  grid-area: usuarios;
  border-right: 1px solid #e4e0e0;
}

.contenedor-chats__chat {
  grid-area: chat;
}

.contenedor-chats__trade {
  grid-area: trade;
  border-left: 1px solid #e4e0e0;
}

.lista-usuarios__item:nth-child(0) {
  margin-top: 15px;
}

.lista-usuarios__imagen {
  width: 40px;
  height: 40px;
  border-radius: 20px !important;
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  -o-border-radius: 20px !important;
  margin-right: 10px;
}

.form-group {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 7px;
}

.titulo {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  color: #17A2B8;
}

.control-label {
  font-size: 15px;
}

.control-label-texto {
  padding: 7px;
}

.carrito-header {
  position: sticky;
  z-index: 2000;
  top: 0;
  background-color: white;
}

.contenedor-chats {
  background-color: white;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 30% 45% 25%;
  grid-template-rows: 15% 85%;
  grid-template-areas: "nombreUsuarios usuario usuario" "usuarios        chat    trade";
  border: 3px solid black;
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}

.contenedor-chats__nombre-chat {
  grid-area: nombreUsuarios;
  position: sticky;
  z-index: 2000;
  top: 0;
  background-color: white;
  border-bottom: 1px solid #e4e0e0;
  border-right: 1px solid #e4e0e0;
  color: #17a2b8;
  display: flex;
  justify-content: center;
}

.contenedor-chats__nombre-chat__item {
  align-self: center;
  text-align: center;
  justify-content: center;
}

.contenedor-chats__usuario {
  grid-area: usuario;
  border-bottom: 1px solid #e4e0e0;
  display: flex;
  justify-content: center;
  align-content: center;
}

.contenedor-chats__usuario__item {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.contenedor-chats__usuario__imagen {
  width: 45px;
  height: 45px;
  border-radius: 30px !important;
  -webkit-border-radius: 30px !important;
  -moz-border-radius: 30px !important;
  -o-border-radius: 30px !important;
  margin-right: 10px;
}

.contenedor-chats__usuarios {
  grid-area: usuarios;
  border-right: 1px solid #e4e0e0;
}

.contenedor-chats__chat {
  grid-area: chat;
}

.contenedor-chats__trade {
  grid-area: trade;
  border-left: 1px solid #e4e0e0;
}

.lista-usuarios__item {
  padding: 10px 15px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.lista-usuarios__item--clicked {
  background-color: #e1e1e1;
}

.lista-usuarios__item:hover {
  cursor: pointer;
  background-color: #e1e1e1;
}

.lista-usuarios__imagen {
  width: 45px;
  height: 45px;
  border-radius: 30px !important;
  -webkit-border-radius: 30px !important;
  -moz-border-radius: 30px !important;
  -o-border-radius: 30px !important;
  margin-right: 10px;
}

.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(33.33%);
}

.carousel-inner .carousel-item-left.active,
.carousel-inner .carousel-item-prev {
  transform: translateX(-33.33%);
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
  transform: translateX(0);
}

.img-fluid {
  max-width: 100%;
  height: 100% !important;
}

.d-block {
  display: block !important;
}

.w-100 {
  width: 100% !important;
  height: 100%;
}

.carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  position: relative;
  display: none;
  width: 100%;
  height: 400px;
}

@media (-webkit-transform-3d) {
  .carousel-item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    transition: -webkit-transform .6s ease-in-out;
    -o-transition: -o-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out, -o-transform .6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }
}

@supports (-webkit-transform: translate3d(0, 0, 0)) or (transform: translate3d(0, 0, 0)) {
  .carousel-item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    transition: -webkit-transform .6s ease-in-out;
    -o-transition: -o-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out, -o-transform .6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.carousel-item-next,
.carousel-item-prev {
  position: absolute;
  top: 0;
}

@media (-webkit-transform-3d) {
  .carousel-item-next.carousel-item-left,
  .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .active.carousel-item-right,
  .carousel-item-next {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  .active.carousel-item-left,
  .carousel-item-prev {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@supports (-webkit-transform: translate3d(0, 0, 0)) or (transform: translate3d(0, 0, 0)) {
  .carousel-item-next.carousel-item-left,
  .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .active.carousel-item-right,
  .carousel-item-next {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  .active.carousel-item-left,
  .carousel-item-prev {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: .5;
}

.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 15;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.carousel-indicators li {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  max-width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}

.carousel-indicators li::before {
  position: absolute;
  top: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: "";
}

.carousel-indicators li::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: "";
}

.carousel-indicators .active {
  background-color: #fff;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: black;
  text-align: center;
}

.col-4 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.333333%;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333% !important;
}

.container-carrusel {
  height: 25%;
}

.subcontainer-carrusel {
  height: 100% !important;
}

.carrusel-items {
  height: 100% !important;
}

.carrusel-activo {
  height: 100% !important;
=======
>>>>>>> presentacion26
}
/*# sourceMappingURL=main.css.map */