body {
  padding: 0px;
}

.col-carousel {
  margin: 40px 0px;
}

.nav-container {
  max-width: 100%;
  padding-left: 0px;
  margin-left: 0px;
}

@media (min-width: 576px) {
  .nav-container {
    margin-left: 30px;
  }
}

.navbar-logo {
  width: 100px;
}

.main-conteiner {
  margin-top: 85px;
}

.main-text {
  font-weight: normal !important;
  font-size: calc(0.5vw + 22px) !important;
  line-height: calc(0.7vw +28px) !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
  letter-spacing: -0.8px !important;
  color: #484848 !important;
}

@media (min-width: 768px) {
  .navbar-logo {
    width: 150px;
  }
  .main-text {
    font-size: calc(0.5vw + 32px) !important;
    line-height: calc(0.7vw +38px) !important;
  }
  .main-conteiner {
    margin-top: 105px;
  }
}

@media (min-width: 992px) {
  .navbar-logo {
    width: 200px;
  }
  .main-text {
    font-size: calc(0.5vw + 42px) !important;
    line-height: calc(0.7vw +48px) !important;
  }
  .main-conteiner {
    margin-top: 125px;
  }
}

.carousel-indicators {
  bottom: -5px;
}

@media (min-width: 434px) {
  .carousel-indicators {
    bottom: 10px;
  }
}

.main-dropdown {
  display: none !important;
  position: absolute;
  z-index: 2;
  opacity: 0.9;
  width: calc(100% - 30px);
}

.mostrar {
  display: flex !important;
}

.main-browser-dropdown-conteiner {
  margin-top: 25px;
}

.main-browser-conteiner {
  width: 100%;
}

@media (min-width: 992px) {
  .nav-item--highlighted {
    margin-right: 10px;
  }
  .nav-item--highlighted:hover {
    border-bottom: 1px solid white;
  }
}

.nav-link--movement {
  transition: all 0.3s;
}

.browser {
  border: 1px solid #ced4da;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  display: flex;
  vertical-align: center;
}

.browser-extended {
  border-bottom-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-bottom-left-radius: 0px;
  -o-border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  -o-border-bottom-right-radius: 0px;
}

.browser__textfield {
  flex: 0 1 auto !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
  font-size: 19px !important;
  line-height: 24px !important;
  color: #484848 !important;
  border: 0px !important;
  padding: 11px !important;
  font-weight: normal !important;
  outline: none;
  width: 93% !important;
  padding-right: 7px !important;
}

.browser__icon {
  color: #7a7a7a !important;
}

.browser__icon--search {
  display: none;
}

.browser__icon--cancel {
  font-size: 30px;
}

.browser__button--cancel {
  background-color: transparent;
  border: 0px;
  outline: none !important;
  vertical-align: center;
  padding: 0px !important;
}

.browser__button--search {
  display: none;
  background-color: #FFB847;
  padding: 10px 20px;
  margin: 10px 10px 10px 0px;
  color: #7a7a7a;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border: 0px;
  font-size: 19px !important;
  font-weight: normal !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
}

@media (min-width: 576px) {
  .browser__icon--search {
    display: flex !important;
    font-size: 25px;
    margin-left: 10px;
    padding-top: 10px;
  }
  .browser__textfield {
    width: 87% !important;
  }
}

@media (min-width: 768px) {
  .browser__textfield {
    width: 90% !important;
  }
}

@media (min-width: 992px) {
  .browser__button--search {
    display: inline !important;
  }
  .browser__icon--search {
    font-size: 27px !important;
    padding-top: 17px !important;
  }
  .browser__textfield {
    width: 82% !important;
  }
  .browser__button--cancel {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .browser__button--search {
    display: inline !important;
    margin-right: 20px;
  }
  .browser__textfield {
    width: 85% !important;
  }
}

.browser__button--search:focus {
  outline: none;
}

.dropdown {
  width: 100%;
  flex-direction: row !important;
  vertical-align: center !important;
  border-left: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-top: 4px solid #FFB847 !important;
  border-bottom: 4px solid #FFB847 !important;
  border-right: 0px;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
}

.dropdown__level1 {
  width: 40% !important;
  border-right: 1px solid rgba(0, 0, 0, 0.125) !important;
  display: inline-block !important;
}

.dropdown__level1__item {
  width: 100% !important;
}

.dropdown__level1__item:hover {
  background-color: #ffb94f60;
}

.dropdown__level1__item:nth-last-child(1) {
  border-bottom: 0px !important;
}

.dropdown__level2 {
  width: 60% !important;
  border: 0px !important;
  overflow: auto !important;
  border-right: 1px rgba(0, 0, 0, 0.125) solid !important;
}

.dropdown__level2__item {
  border-top: 0px !important;
  border-right: 10px transparent solid !important;
  border-bottom: 2px rgba(0, 0, 0, 0.125) solid !important;
  padding: 0px !important;
  width: 100%;
}

.dropdown__level2__item:nth-last-child(1) {
  border-bottom: 0px !important;
}

.dropdown__level2__item:nth-child(1) {
  border-bottom: 2px rgba(0, 0, 0, 0.125) solid !important;
}

.dropdown__level2__item:hover {
  background-color: #ffb94f60;
}

.dropdown__level2__link {
  text-decoration: none !important;
  color: black !important;
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
 

 /*# sourceMappingURL= main.css.map */