.img-contenedor img {
    -webkit-transition: all .9s ease;
    /* Safari y Chrome */
    -moz-transition: all .9s ease;
    /* Firefox */
    -o-transition: all .9s ease;
    /* IE 9 */
    -ms-transition: all .9s ease;
    /* Opera */
    width: 100%;
}

.img-contenedor:hover img {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
}

.img-contenedor {
    /*Ancho y altura son modificables al requerimiento de cada uno*/
    width: 300px;
    height: 180px;
    overflow: hidden;
}

