.lista-usuarios{
    
}

.lista-usuarios__item{

}

.lista-usuarios__item:nth-child(0){
    margin-top: 15px;
}

.lista-usuarios__imagen{
    width: 40px;
    height: 40px;
    @include border-radius(20px);
    margin-right: 10px;
}

.lista-usuarios__nombre{

}