.browser {
    border: 1px solid #ced4da;
    @include border-radius(5px);
    display: flex;
    vertical-align: center;    
}

.browser-extended {
    @include border-bottom-left-radius(0px);
    @include border-bottom-right-radius(0px);
}

.browser__textfield {
    flex: 0 1 auto !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    font-size: 19px !important;
    line-height: 24px !important;
    color: #484848 !important;
    border: 0px !important;
    padding: 11px !important;
    font-weight: normal !important;
    outline: none;
    width: 93% !important;
    padding-right: 7px !important;
}

.browser__icon {
    color: rgb(122, 122, 122) !important;
}

.browser__icon--search {
    display: none;
}

.browser__button--cancel {
    display:flex;
    width: 37px;
}

.browser__button--search {
    display: none;
    background-color: $naranja;
    padding: 10px 20px;
    margin: 10px 10px 10px 0px;
    color: rgb(122, 122, 122);
    @include border-radius(5px);
    border: 0px;
    font-size: 19px !important;
    font-weight: normal !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important
}

@media (min-width:576px) {
    .browser__icon--search {
        display: flex !important;
        font-size: 20px;
        margin-left: 10px;
        margin-top: 12px;
    }
    .browser__textfield {
        width: 87% !important;
    }
}

@media(min-width:768px) {
    .browser__textfield {
        width: 90% !important;
    }
}

@media(min-width:992px) {
    .browser__button--search {
        display: inline !important;    
    }

    .browser__icon--search{
        font-size: 27px !important;
        margin-top: 19px !important;
    }
    .browser__textfield {
        width: 82% !important;        
    }
    .browser__button--cancel {
        display: none !important;
    }
}

@media (min-width:1200px) {
    .browser__button--search {
        display: inline !important;
        margin-right: 20px;
    }
    .browser__textfield {
        width: 85% !important;
    }
}

.browser__button--search:focus {
    outline: none;
}