.contenedor-deseos{
    background-color: white;
    margin: 40px 30px 40px 70px;
    width: 90%;
    height: 80%;
    @include border-radius(5px);
    overflow: auto;
}

.carrito-header {
	position: sticky;
	z-index: 2000;
	top: 0;
	background-color: white;
}