body {
    padding: 0px;
}

.col-carousel {
    margin: 40px 0px;
}

.nav-container {
    max-width: 100%;
    padding-left: 0px;
    margin-left: 0px;
}

.navbar {
    z-index: 201 !important;
    background-color: $turquesa !important;
}

@media (min-width:576px) {
    .nav-container {
        margin-left: 30px;
    }
}

.navbar-logo {
    width: 100px;
}

.main-conteiner {
    margin-top: 85px;
}

.main-text {
    font-weight: normal !important;
    font-size: calc(0.5vw + 22px) !important;
    line-height: calc(0.7vw +28px) !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    letter-spacing: -0.8px !important;
    color: #484848 !important;
}

@media (min-width:768px) {
    .navbar-logo {
        width: 150px;
    }
    .main-text {
        font-size: calc(0.5vw + 32px) !important;
        line-height: calc(0.7vw +38px) !important;
    }
    .main-conteiner {
        margin-top: 105px;
    }
}

@media (min-width:992px) {
    .navbar-logo {
        width: 200px;
    }
    .main-text {
        font-size: calc(0.5vw + 42px) !important;
        line-height: calc(0.7vw +48px) !important;
    }
    .main-conteiner {
        margin-top: 125px;
    }
}

.carousel-indicators {
    bottom: -5px;
}

@media (min-width:434px) {
    .carousel-indicators {
        bottom: 10px;
    }
}

.carousel-text {
    background-color: white;
    opacity: 0.5;
    padding: 15px 0px !important;
    color: black;
    width: auto !important;
    margin: 0 auto;
    @include border-radius(5px);
}

.row-middle-title {
    color: #007bff;
}

.main-dropdown {
    display: none !important;
    position: absolute;
    z-index: 200;
    opacity: 0.9;
    width: calc(100% - 30px);
}

.mostrar {
    display: flex !important;
}

.mostrar--normal {
    display: block !important;
}

.ocultar {
    display: none !important;
}

@media (max-width:576px) {
    .mostrar-pantalla-completa {
        position: fixed;
        z-index: 200;
        width: 100%;
        margin-top: 0px !important;
        padding-top: 25px;
        height: 100%;
        opacity: 1;
        top: 0;
        left: 0;
    }
}

.main-browser-dropdown-conteiner {
    margin-top: 25px;
    margin-bottom: 20px;
}

.main-browser-dropdown-conteiner-mini {
    margin-left: 20px;
    margin-right: 20px;
}

.main-browser-conteiner {
    width: 100%;
    z-index: 201;
}

.main-browser-min {
    width: 100%;
    height: 100%;
    padding-top: 20px;
}

.contenedor-boton-invisible {
    margin-left: 17px;
    display: flex;
}

.row-middle {
    display: flex;
    text-align: center;
}

.titulo-categoria {}

.producto-titulo-centrar {
    display: flex;
    justify-content: center;
    color: blue;
}

.nombre {
    color: #17a2b8;
}

.imagen-detallada {
    margin-bottom: 5%;
    margin-top: 5%;
    width: 100% !important;
}

.miniatura {
    margin-bottom: 5%;
    margin-top: 2%;
    display: flex;
    width: 50% !important;
}

.col-foto {
    margin-left: -30px !important;
    margin-right: -50px !important;
    display: inline-block;
    justify-content: center;
}

.img-miniatura {}

.panel-central {
    width: 100%;
}

.descripcion {
    margin-top: 40px;
    text-align: left;
}

.fotos-miniatura {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.panel-fotos {
    margin-bottom: 20px;
    max-width: 50%;
}

.icono-back {
    width: 50%;
}

.imagen-pequeña {
    width: 100% !important;
}

.contenedor-historial {
    padding-top: 10px;
}

.boton--antes {
    // background-color: yellow;
}

.boton--despues {
    // background-color: yellow;
}

.trueke-iniciado {}

.empezar-trueke {
    background-color: #FFB847;
    border-color: #F3A62B;
    color: white;
    outline: none !important;
}

.empezar-trueke:hover {
    background-color: hsl(37, 100%, 57%);
    border-color: rgb(243, 183, 87);
    color: white;
}

.empezar-trueke:focus {
    background-color: hsl(37, 100%, 57%) !important;
    border-color: rgb(243, 183, 87) !important;
    box-shadow: none !important;
}

.empezar-trueke:active {
    background-color: hsl(37, 100%, 57%) !important;
    border-color: rgb(243, 183, 87) !important;
}