.volver-menu {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.centrar-texto {
    text-align: center;
}

.boton-trasparente {
    display: flex;
    background-color: transparent;
    border: 0px;
    outline: none !important;
    vertical-align: center;
    padding: 0px !important;
    color: blue;
    cursor: pointer;
}

.listUsers-titulo {
    text-align: center;
}