// .form-horizontal{
//     display:flex;
//     justify-content: center;
// }
// .capa-principal{
//     display:flex;
//     justify-content: center;
// }
.form-group1{
    display:flex;
    justify-content: center;
    text-align: center;
    padding:7px;
}
.titulo{
    text-align: center;
    margin-top:30px;
    margin-bottom: 50px;
    color:#17A2B8;
}
.control-label1{
    font-size: 15px;
}
.control-label-texto{
    padding:7px;
}